@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	background: url(../images/weixin/bg_05.png) repeat;
}

.clear {
	clear: both;
}

.head {
	background: url(../images/weixin/headBg_02.png) repeat-x;
	height: 50px;
	clear: both;
}

.title {
	font-size: 14px;
	color: #FFF;
	float: left;
	font-weight: bold;
	margin-left: 10px;
	line-height: 50px;
}

.titlePhone {
	float: right;
}

.titlePhone a {
	text-decoration: none;
	display: block;
	outline: none;
}

.titlePhone a:ACTIVE {
	text-decoration: none;
	display: block;
	outline: none;
}

.titlePhone img {
	margin-top: 6px;
	margin-right: 10px;
	border: 0px;
}

.formContent {
	font-size: 14px;
	color: #747474;
	margin: 12px 12px;
	background: #FFF;
	border: 1px solid #c7c7c7;
	border-radius: 8px;
}

.dataDiv {
	height: 30px;
	display: table;
	overflow: visible;
	position: relative;
	width: 100%;
	margin: 12px 5px;
	line-height: 30px;
}

.dataDiv:AFTER {
	clear: both;
}

.dataDiv label {
	width: 70px;
	display: block;
	text-align: right;
	float: left;
	line-height: 30px;
}

select {
	width: 85px;
}

.dataDiv input {
	height: 28px;
	border-radius: 5px;
	border: 1px solid #c7c7c7;
	margin-left: 12px;
	float: left;
	width: 182px;
}

.dataDiv textarea {
	border-radius: 3px;
	border: 1px solid #c7c7c7;
	margin-left: 12px;
	float: left;
	width: 180px;
}

.list img {
	margin: 18px auto;
}

.button {
	background-image: url("../images/weixin/btn_bg_05.png");
	background-repeat: repeat-x;
	padding: 0px 28px;
	height: 48px;
	text-align: center;
	border-radius: 5px;
	line-height: 48px;
	margin: 0 auto;
	width: 180px;
}

.button a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
.content{
	margin: 12px auto;width: 100%;
}
.content a{
	text-decoration: none;
}
/**会员表单样式信息 开始**/
.memberInput{
		margin:0 12px;height: 40px;margin-bottom: 20px;
	}
.memberLabel{
	margin:0 12px;height: 24px;
}
.memberInput input[type="text"]{
	border: 1px solid #C7C7C7;
    border-radius: 5px;
    float: left;
    height: 32px;
    width: 100%;
}
.frist{
	margin-bottom: 20px;height: 20px;
}
/**会员表单样式信息 结束**/
.item{
	background-color: #434343;height: 58px;border-radius:8px;margin: 0 auto;line-height: 58px;margin: 12px 30px;margin-top: 40px;
}
.itemImage{
	width: 38px;
	height: 38px;
	margin-left: 20px;
	position: absolute;
	margin-top: 10px;
}
.address {
	background-image: url('../images/weixin/address.png');
}
.call{
	background-image: url('../images/weixin/call.png');
}
.itemTitle{
	color: #54cbec;margin-left: 72px;font-size: 18px;font-family: 微软雅黑;font-weight: bold;
}
.item::AFTER{
	margin-bottom: 50px;
}

.alert {
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	border-radius: 5px;
	color: #C09853;
	margin-bottom: 2px;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	margin-top: 2px;
}

.alert-success {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #468847;
}

.alert-info {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #3A87AD;
}

.alert-danger,.alert-error {
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
}